@CHARSET "utf-8";

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
}

/* drag and drop overrides */
.Gx8miifI {
	border: 1px dashed #BFBFBF;
	margin: 0 !important;
	zoom: 1;
	z-index: 100;
}

.msg {
	font-family: Arial, Helvetica, sans-serif;
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.6;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

.gwt-DialogBox {
	font-family: Arial, Helvetica, sans-serif;
}
	.gwt-DialogBox .caption {
		font-weight: bold;
	}
	.gwt-DialogBox .frow {
		width: 200px;
	}
	.gwt-DialogBox .tbox {
		width: 100%
	}
	.gwt-DialogBox textarea {
		height: 75px;
	}
	.gwt-DialogBox .btnRow {
		width: 200px;
		overflow: hidden;
	}
	.gwt-DialogBox .btnRow .save {
		float: left;
	}
	.gwt-DialogBox .btnRow .cancel {
		float: right;
	}

.container {
	width: 1020px;
	height: 600px;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
	text-align: left;
	
	/*debug*/
	/*border: 1px solid skyblue;*/
}
* html .container {
	padding-top: 20px;
}
.container * {
	color: #2F2F2F;
}

.logo {
	width: 76px;
	height: 53px;
	margin-bottom: 15px;
}

.navButton {
	white-space: nowrap;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	font-weight: bold;
	border: 0;
	height: 16px;
}
	.navButton .text {
	}
	.navButton-bundles {
		/*background: url(../images/quote-bundle-icon.png) left no-repeat transparent;*/
	}
	.navButton-docs {
		/*background: url(../images/document-icon.png) left  no-repeat transparent;*/
	}
	.navButton-doc {
		background: url(../images/document-icon.png) left no-repeat transparent;
		width: 60px;
		font-size: 11px;
		font-weight: normal;
		overflow: hidden;
	}
	.navButton-doc .text {
		margin-left: 18px;
		margin-top: 2px;
	}
	* html .navButton-doc .text {
		float: right;
	}
	.navButton-plus {
		/*background: url(../images/plus-button.png) right no-repeat transparent;*/
		text-align: center;
	}

/* the parent element of the .navRow panel */
#navCol {
	float: left;
	width: 145px;
	
	/*debug*/
	/*border: 1px solid pink;*/
}
	#navCol .widget {
		margin-bottom: 10px;
		width: 145px;
	}
	#navCol .navButton {
		background-color: #BFBFBF;
		height: 20px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
	}
	#navCol .navButton .text {
		line-height: 1.49;
	}
	#navCol .viewTitle {
		font-size: 21px;
		white-space: nowrap;
	}
	/* QuoteBundleListingWidget*/
	#navCol #qbListing {
		border: 0;
		border-top: 1px solid #BFBFBF;
	}
	#navCol #qbListing table {
		width: 100%;
	}
	#navCol #qbListing .option {
		border-bottom: 1px solid #BFBFBF;
		padding-left: 10px;
		background: url(../images/quote-bundle-icon.png) no-repeat left;
		overflow: hidden;
	}
	#navCol #qbListing .option span {
		float: left;
		padding-left: 10px;
	}	

/* the parent element of the app portal panel */
#mainCol {
	float: left;
	width: 780px;
	margin-left: 20px;
	
	/*debug*/
	/*border: 1px solid brown;*/
}

/* the parent element of the .navRow widget */
#navRow {
	/*height: 25px;*/
	border-bottom: 3px solid #BFBFBF;
	
	/*debug*/
	/*border: 1px solid gray;*/
}
	/* nav row tab bar */
	/*
	.gwt-TabBar { the tab bar itself }</li>
	.gwt-TabBar .gwt-TabBarFirst { the left edge of the bar }</li>
	.gwt-TabBar .gwt-TabBarFirst-wrapper { table cell around the left edge }
	
	.gwt-TabBar .gwt-TabBarRest { the right edge of the bar }</li>
	.gwt-TabBar .gwt-TabBarRest-wrapper { table cell around the right edge }
	
	.gwt-TabBar .gwt-TabBarItem { unselected tabs }</li>
	.gwt-TabBar .gwt-TabBarItem-wrapper { table cell around tab }</li>
	.gwt-TabBar .gwt-TabBarItem-selected { additional style for selected
	*/
	#navRow .gwt-TabBarItem {
		background-color: #DFDFDF;
		-moz-border-radius-topright: 2px;
		-moz-border-radius-topleft: 2px;
		-webkit-border-top-right-radius: 2px;
		-webkit-border-top-left-radius: 2px;
	}
	#navRow .gwt-TabBarItem span {
		color: #7F7F7F;
	}
	#navRow .gwt-TabBarItem-selected {
		background-color: #BFBFBF;
	}
	#navRow .gwt-TabBarItem-selected span {
		color: #2F2F2F;
	}
	#navRow .openDocs .gwt-TabBarItem-selected {
		/*display:none;*/
	}
	/* the contained nav row panel */
	.navRow {
		/*width: 100%;*/
	}
	/* all except IE */
	html>/**/body .navRow .navRowTbl {
		width: 781px; /* must be explicit (same width as container) - otherwise, floating breaks */
	}
	.navRow .mainViews {
		float: left;
		margin-right: 30px;
	}
	.navRow .openDocs {
		float: left;
	}
	.navRow .crntqb {
		float: right;
		text-align: right;
		margin-top: 24px;
	}
	.navRow .crntqb p {
		font-weight: bold;
		font-size: 11px;
	}
	.navRow .crntqb .echo {
		font-style: italic;
		font-weight: normal;
		margin-right: 5px;
	}

#portal {
		
	/*debug*/
	/*border: 1px solid orange;*/
}

.viewToolbar {
	background-color: #fff;
	font-size: 21px;
	margin: 10px 0;
}
	.viewToolbar .viewTitle {
		font-weight: normal; 
	}
	.viewToolbar .button {
		border: 1px solid #fff;
	}

.footer {
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
	font-size: 10px;
	text-align:center;
	margin-bottom: 10px;
}

/* wqbundle */
.wqbundle {
}
	.wqbundle .qbheader {
		margin-bottom: 10px;
		overflow: hidden;
	}
		.wqbundle .qbheader .echo {
			text-transform: uppercase;
			font-family: Arial, Helvetica, sans-serif;
			font-weight: lighter;
		}
		.wqbundle .qbheader .name {
			font-size: 20px;
			border-bottom: 4px solid #BFBFBF/*#D0E4F6*/;
		}
		.wqbundle .qbheader .desc {
			font-size: 11px;
		}
		.wqbundle .buttons {
			float: right;
		} 
		.wqbundle .buttons img {
			margin-left: 15px;
			cursor: pointer;
		} 
	.wqbundle .quotes {
		/*height: 100%;*/
		width: 100%;
	}

/* wquote */
.wquote {
	/*width: 250px;*/
	width: 100%;
	margin-bottom: 5px;
}
.wquote .qheader {
	overflow: hidden; /*clear floats*/
	/*background-color: #D0E4F6;*/
	background-color: #DFDFDF;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	/*
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.wquote .cite {
	padding: 3px;
}
.wquote .x {
	float: right;
	width: 14px;
	height: 14px;
	margin: 4px;
	cursor: pointer;
}
.wquote .title {
	font-weight: bold;
}
.wquote .subtitle {
}
.wquote .quoted {
	padding: 2px 1px 0 2px;
	font-size: 11px;
	/*overflow: hidden;*/
	/*
	border: 1px solid #DFDFDF;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	*/
}

/* document viewer widget */
.docView {
	width: 100%;
	/*overflow: hidden;*/
}
.docPortal {
}
.docHeader {
	text-transform: uppercase;
	font-weight: bold;
	background-color: #BFBFBF;
	margin-left: 15px;
	padding: 3px;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
}
iframe.docContainer {
	width: 100%;
	height: 552px;
	border: 0;
}

/* ***view style overrides*** */

/* document listing view styling */
.documents {
}
	.documents .tableView .head {
		font-family: Arial, Helvetica, sans-serif !important;
		text-transform: uppercase !important;
		font-weight: bold !important;
		font-size: 12px !important;
	}
	.documents .tableView tr.head td {
		border: 0;
		border-bottom: solid #BFBFBF 1px;
	}
	.documents .tableView .date {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 11px;
	}
	.documents .tableView .delete {
		text-align: center;
	}
	.documents .tableView .actv {
		background-color: #BFBFBF;
	}

/* quote bundle view styling */
.quoteBundle {
}
	.quoteBundle #navRow {
		margin-bottom: 30px;
	}
	.quoteBundle .viewToolbar {
		display:none;
	}
	.quoteBundle .columns {
		width: 100%;
		height: 100%;
	}
	.quoteBundle .columns .wqbundle {
		width: 200px;
	}
	/* drag and drop specific allowing drops to empty qb columns!! */
	.quoteBundle .columns .spacer {
		height: 50px;
		width: 250px;
	}
	.quoteBundle .boundaryArea {
		width: 100%;
		/*height: 578px;*/
		height: 535px;
		overflow-y: auto !important;
	}

/* document view styling */
.docview {
}
	.docview .crntqb {
		display: none;
	}
	.docview .viewToolbar {
		display: none;
	}
	.docview #navCol {
		/*width: 80px;*/
	}
	.docview .view {
		height: 578px; /* otherwise nothing appears! */
		margin: 0;
	}
	.docview .wqbundle {
		margin-left: 10px;
		/*width: 100%;*/
	}
	.docview .quotes {
	}
	.docview .wquote .cite {
		/*display: none;*/
	}
	.docview .wquote .cite p {
		font-size: 12px;
	}
	.docview .quoted p {
		line-height: .93em;
	}
	.docview .quoted {
		max-height: 50px;
		overflow: hidden;
	}
	