body {
	font-family: Georgia, "Times New Roman", Times, serif;
}


td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {font-family:Helvetica, Arial, sans-serif;
text-transform:uppercase;
font-size:18px;
padding-bottom:1em;
padding-top:1em;


}

.legaltext {
	font-family: Georgia, "Times New Roman", Times, serif;
	width:500px;
	line-height:1.6em;
	margin-left:2em;
	color:#333;
}

.quote-box {

border-left:solid 1.5px;
border-color:#D4E8E8;
width:280px;
}

.cited-text {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	margin-left:0.5em;
	padding-top:3px;
	
}

.quote-bundle-item {
	font-size:11px;
	font-family:Helvetica, Arial, Sans-serif;
	width:280px;
	float:left;

	color:#595959; 
	background:#D4E8E8; 
	padding:3px;
	} 	
	
.citation-title {
	font-size:11px;
	font-family:Helvetica, Arial, Sans-serif;
	width:250px;
	font-weight: bold; 
}

.citation-reference {
	font-size:11px;
	font-family:Helvetica, Arial, Sans-serif;
	width:250px;
}

.menu-button {
	font-size:12px;
	font-family:helvetica, Arial, sans-serif;
	background-color:#666666;
	font-weight: bold; 
	color:#fff;
	padding:5px 5px 2px 5px;
	text-transform:uppercase;
}
