@CHARSET "ISO-8859-1";

:active,:focus{outline-style:none;-moz-outline-style:none;}

a{text-decoration:none;}
a:hover{cursor:pointer;}

.left{float:left;}
.right{float:right;}
.clear{clear:both;}

.textcenter{text-align:center;}
.textright{text-align:right;}

.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

/* signifies textual content */
.txt{
}

.small {
	font-size: 90%;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.gapRight{margin-right:0.6em;}
.gapLeft{margin-left:0.6em;}
.gapTop{margin-top:0.4em;}
.gapBtm{margin-bottom:0.4em;}

.disabled {
}

.disabled, .disabled * {
	color: silver !important;
	cursor: default !important;
}
