@CHARSET "ISO-8859-1";

.cmsg {
}

.cmsg .msg {
}

.msg ul {
  margin: 1px;
}

.msg .ic {
  margin: 2px;
}

.msg ul,.msg ul li {
  
}

.msg p, .msg a {
  font-size: 12px;
  line-height: 120%;
  white-space: nowrap;
  margin: 2px 2px 0 2px;
}

.msg a:hover {
  text-decoration: underline;
}

.msg .info {
  background-color: #DBEAF3;
  border: solid 1px #AFD1E5;
}

.msg .info * {
  color: #2C6688 !important;
}

.msg .warn {
  background-color: #FFFFCC;
  border: solid 1px #EFEF07;
}

.msg .warn * {
  color: #666600 !important;
}

.msg .error {
  background-color: #FEE2E2;
  border: solid 1px #CC6666;
}

.msg .error * {
  color: #CC0000 !important;
}

.msg .fatal {
  background-color: #FEE2E2;
  border: solid 1px maroon;
}

.msg .fatal * {
  color: maroon !important;
}

/* global msg panel specific */
.gmsg {
  
}

.gmsg .title {
  padding: 2px;
}

.gmsg li {
  list-style-type: disc;
  margin-left: 35px;
}

.gmsg .container {
  /*margin: 2px;*/
  padding-left: 2px;
  padding-right: 2px;
}

.gmsg .ic {
	float:left;
}
