@CHARSET "utf-8";

body {
	/*text-align: center;*/
}

body * {
	color: #2F2F2F;
}

a, a:visited {
	color: navy;
}
a:hover {
	text-decoration: underline;
}
a:active {
}

/* drag and drop overrides */
.dragdrop-positioner {
	border: 1px dashed #BFBFBF;
}
.dragdrop-flow-panel-positioner {
	color: #BFBFBF;
}
.dragdrop-proxy {
	background-color: #BFBFBF; 
}

.msg {
	font-family: Arial, Helvetica, sans-serif;
}

/* .imgBtn */
.imgBtn {
	padding: 2px;
	cursor: pointer;
}
	.imgBtn .icon {
		vertical-align: middle;
	}
	.imgBtn .text {
		padding-left: 4px; 
		font-weight: bold;
		white-space: nowrap;
		vertical-align: middle;
	}

.imgBtn-quoteBundle .text {
	font-size: 12px;
}

/* global message panel */
.gmsg {
	margin-bottom: 15px;
}
	.gmsg .heading {
		display: none;
	}
	.gmsg li {
		list-style-type: none;
		margin-left: 10px;
	}

/* field label required indicator (asterisk) */
.rqd {
	color: red;
}
/* read-only field value display (for consistency) */
div.ro {
	font-family: Arial, Helvetica, sans-serif;
}

/* edit panel */
.entityEdit {
}
.entityEdit .btnRow {
	text-align: center;
	overflow: hidden;
	margin-top: 10px;
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.6;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

.gwt-DialogBox,
.html-face {
	font-family: Arial, Helvetica, sans-serif;
}
	.gwt-DialogBox .caption {
		font-weight: bold;
	}
	.gwt-DialogBox .btnRow .save {
		float: left;
	}
	.gwt-DialogBox .btnRow .cancel {
		float: right;
	}
	
.tvnav {
	font-family: Arial, Helvetica, sans-serif;
}

#container {
	margin: 20px;
	overflow: hidden;
	
	font-family: Georgia, "Times New Roman", Times, serif;
	/*debug*/
	/*border: 1px solid skyblue;*/
}
* html #container {
	margin: 0;
}

#contentwrapper {
	float: left;
	width: 100%;
}

/* the font styling for general [section] titles
.sectionTitle {
	font-size: 21px;
	white-space: nowrap;
}
*/
.navButton {
	white-space: nowrap;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	font-weight: bold;
	border: 0;
	height: 16px;
	text-align: center;
	padding: 0 3px 0 3px;
}
	.navButton img {
		vertical-align: middle;
	}
	.navButton .text {
		vertical-align: middle;
	}
	.gwt-TabBarItem .navButton-doc {
		width: 60px;
		font-weight: normal;
		overflow: hidden;
	}
	.gwt-TabBarItem-selected .navButton-doc {
		width: inherit;
		font-weight: bold;
	}

#navCol {
	float: left;
	width: 145px;
	margin-left: -100%;
	
	/*debug*/
	/*border: 1px solid pink;*/
}
* html #navCol {
	padding-top: 20px;
	padding-left: 20px;
}
	#navCol .vpanel {
		width: 100%;
	}
	#navCol .logo {
		width: 76px;
		height: 53px;
		margin: 0 0 30px 35px;
	}
	#navCol .widget {
		margin-bottom: 10px;
		width: 145px;
		/*-moz-border-radius: 5px;
		-webkit-border-radius: 5px;*/
	}
	#navCol .gwt-PushButton {
		width: 100%;
	}
	#navCol .html-face {
		text-align: center;
		font-weight: bold;
	}
	#navCol .navButton {
		background-color: #BFBFBF;
		height: 20px;
	}
	#navCol .navButton .text {
		line-height: 1.49;
	}
	#navCol .viewTitle {
		font-size: 21px;
		white-space: nowrap;
	}
	/* QuoteBundleListingWidget*/
	#navCol #qbListing {
		border: 0;
		border-top: 1px solid #BFBFBF;
		width: 100%;
	}
	#navCol #qbListing .option {
		border-bottom: 1px solid #BFBFBF;
		padding-left: 10px;
		background: url(../images/quote-bundle-icon.png) no-repeat left;
		overflow: hidden;
	}
	#navCol #qbListing .option span {
		float: left;
		padding-left: 10px;
	}	

/* the parent element of the app portal panel */
#mainCol {
	margin-left: 180px;

	/*debug*/
	/*border: 1px solid brown;*/
}

/* the parent element of the nav row widget */
#navRow {
	/*border-bottom: 3px solid #BFBFBF;*/

	/*debug*/
	/*border: 1px solid gray*/
}
* html #navRow {
	/*padding-top: 20px;
	margin-right: 20px;
	height: 25px;*/
}
	
/* login panel */
.login {
}
	.login .heading {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	.login .gmsg {
		width: 500px;
	}
	.loginForm {
	}
	.login .userReg {
	}
	.login .opPanel {
		margin-top: 10px;
		margin-bottom: 20px;
	}
		.login .opPanel a, .login .opPanel button {
			margin-right: 10px;
		}
		.login .opPanel button {
			font-weight: bold;
		}

/* navRow widget */
.navRow {
	/*width: 100%;*/
	/*overflow: hidden;*/
}
	.navRow .navRowTabs {
		border-bottom: 3px solid #BFBFBF;
	}
	
	.navRow .navButton {
	}
	.navRow .navButton img {
		margin-right: 3px;
	}
	.navRow .navButton .text {
	}
	.navRow .navButton-docs .text {
	}

	/* nav row tab bar */
	/*
	.gwt-TabBar { the tab bar itself }</li>
	.gwt-TabBar .gwt-TabBarFirst { the left edge of the bar }</li>
	.gwt-TabBar .gwt-TabBarFirst-wrapper { table cell around the left edge }
	
	.gwt-TabBar .gwt-TabBarRest { the right edge of the bar }</li>
	.gwt-TabBar .gwt-TabBarRest-wrapper { table cell around the right edge }
	
	.gwt-TabBar .gwt-TabBarItem { unselected tabs }</li>
	.gwt-TabBar .gwt-TabBarItem-wrapper { table cell around tab }</li>
	.gwt-TabBar .gwt-TabBarItem-selected { additional style for selected
	*/
	.navRow .gwt-TabBarItem {
		background-color: #DFDFDF;
		-moz-border-radius-topright: 2px;
		-moz-border-radius-topleft: 2px;
		-webkit-border-top-right-radius: 2px;
		-webkit-border-top-left-radius: 2px;
	}
	.navRow .gwt-TabBarItem span {
		color: #7F7F7F;
	}
	.navRow .gwt-TabBarItem-selected {
		background-color: #BFBFBF;
	}
	.navRow .gwt-TabBarItem-selected .text {
		background-color: #BFBFBF;
		color: #2F2F2F;
	}

	.navRow .mainViews {
		float: left;
		margin-right: 30px;
	}
	.navRow .openDocs {
		float: left;
	}
	.navRow .crntqb {
		text-align: right;
	}
		.navRow .crntqb p {
			font-weight: bold;
			font-size: 11px;
		}
		.navRow .crntqb .echo {
			font-style: italic;
			font-weight: normal;
			margin-right: 5px;
		}

/* lgdInUsr widget */
.lgdInUsr {
	overflow: hidden;
	white-space: nowrap;
}
	.lgdInUsr .frmContents {
		float: right;
		overflow: hidden;
	}
	.lgdInUsr .welcomeText {
		float: left;
		margin-right: 10px;
		font-size: 11px;
	}
	.lgdInUsr  a.logout {
		float: left;
		font-size: 11px;
		font-weight: bold;
	}

#portal {
	/*debug*/
	/*border: 1px solid orange;*/
}
* html #portal {
	width: 96%;
	overflow: hidden;
}

.viewToolbar {
	background-color: #fff;
	margin: 10px 0;
}
	.viewToolbar .viewTitle {
		font-size: 21px;
		font-weight: normal; 
	}
	.viewToolbar .button {
		border: 1px solid #fff;
	}

#footer {
	clear: left;
	width: 100%;
	margin-top: 10px;
	display: block;
	
	/*debug*/
	/*border: 1px solid gray;*/
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
	font-size: 10px;
	text-align:center;
	margin-bottom: 10px;
}

/* qbundle */
.qbundle {
}
	.qbundle .qbheader {
		margin-bottom: 10px;
		overflow: hidden;
	}
		.qbundle .qbheader .echo {
			text-transform: uppercase;
			font-family: Arial, Helvetica, sans-serif;
			font-weight: lighter;
			font-size: 11px;
			letter-spacing: 0.7px;
		}
		.qbundle .qbheader .name {
			font-size: 20px;
			border-bottom: 4px solid #BFBFBF/*#D0E4F6*/;
			margin-top: 2px; /* hack so qb name text doesn't wrap if it extends at or beyond buttons div just above */
		}
		.qbundle .qbheader .desc {
			font-size: 11px;
		}
		.qbundle .qbbuttons {
			float: right;
		} 
		.qbundle .qbbuttons img {
			margin-left: 10px;
			cursor: pointer;
		} 
	.qbundle .quotes {
		/*height: 100%;*/
		width: 100%;
	}
	.qbundle .qbcurrent {
		border: 3px solid #DFDFDF;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		padding: 4px;
	}

/* wquote */
.wquote {
	/*width: 250px;*/
	width: 100%;
	margin-bottom: 5px;
}
.wquote .qheader {
	/*background-color: #D0E4F6;*/
	background-color: #DFDFDF;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.wquote .qheader .topRow {
	width: 100%;
}
.wquote .qheader .title {
	float: left;
	margin: 4px;
	font-weight: bold;
}
.wquote .qheader .subtitle {
}
.wquote .qheader .buttons {
	float: right;
}
.wquote .qheader .buttons img {
	width: 14px;
	height: 14px;
	margin: 4px;
	cursor: pointer;
}
.wquote .qheader .buttons .x {
	margin-top: 7px;
}
.wquote .subTitle {
	padding: 3px;
}
.wquote .quoted {
	padding: 2px 1px 0 2px;
	font-size: 11px;
}

/* docUpload widget */
.docUpload {
	margin: 5px;
	overflow: auto;
}
	.docUpload .uploads {
		margin-bottom: 20px;
	}
	.docUpload .upload {
		display: block;
		margin: 3px 0 3px 0;
	}
	.docUpload .submit {
		float: left;
		font-weight: bold;
	}
	.docUpload .cancel {
		float: right;
	}

/* docSuggest widget */
.docSuggest {
	margin-bottom: 5px;
}
	.docSuggest .image {
	}
	.docSuggest .gwt-SuggestBox {
		font-size: 22px;
		font-weight: bold;
	}

/* document viewer widget */
.docView {
	width: 100%;
}
.docContainer {
}
.docHeader {
	width: 100%;
	height: 22px;
}
.docHeader .imgEdit {
	float: right;
	margin: 2px 8px 0 0;
	cursor: pointer;
}
.docView-edit .imgEdit {
	display: none; /* hide when in doc edit mode */
}
.docHeaderLabel {
	cursor: default;
	/*text-transform: uppercase; - Don't do this */
	font-weight: bold;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
	float: left;

	background-color: #BFBFBF;
	float: right;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
}
.docFrame { 
	width: 100%;
	height: 553px;
	border: 0;
}
.docEdit .gwt-RichTextArea {
	width: 100%;
	height: 528px;
	border: 0;
}

.docEdit {
}
	
.editBar {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	float: left;
	height: 30px;
	background-color: #BFBFBF;
	margin-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
}
	.editBar .toolbar {
		height: 20px;
		margin-top: 5px;
		background-color: #BFBFBF;
	}
	.editBar .toolbar p,
	.editBar .toolbar .pencil {
		/*float: left;*/
	}
	.editBar .toolbar .button {
		padding-top: 0;
		padding-bottom: 0;
		font-weight: bold;
		text-align: center;
		/*background-color: #EAEAEA;*/
		border: 0 !important;
	}
	.editBar .toolbar .edit {
		font-weight: bold;
		margin-right: 50px;
	}
	.editBar .toolbar .button-up {
	}
	.editBar .toolbar .button .html-face {
	}
	.editBar .toolbar .button-up-hovering {
	}
	.editBar .toolbar .button-up-disabled {
	}
	.editBar .toolbar .button-down {
	}
	.editBar .toolbar .button-down-hovering {
	}
	.editBar .toolbar .button-down-disabled {
	}


/* ***view style overrides*** */

/* document listing view styling */
.documents {
}

	.documents .gwt-DialogBox .headerNonCaseDoc {
	}
	.documents .gwt-DialogBox .headerCaseDoc {
	}
	.documents .gwt-DialogBox .frow {
		width: 300px;
	}
	.documents .gwt-DialogBox .tbox {
		width: 100%
	}
	.documents .gwt-DialogBox textarea {
		height: 75px;
	}
	.documents .gwt-DialogBox .btnRow {
		width: 300px;
	}

	.documents .viewToolbar {
		display: none;
	}
	.documents .searchDp {
		margin: 10px 0;
	}
	.documents .searchDp .header {
		font-size: 21px;
	}
	.documents .searchDp .tableView {
	}
	.documents .gwt-DisclosurePanel-open {
		width: 100%;
	}
	.documents .gwt-SuggestBoxPopup {
		font-family: Georgia, "Times New Roman", Times, serif;
	}
	.documents .gwt-SuggestBoxPopup .item {
		/*max-width: 400px;*/
	}
		.documents .gwt-SuggestBoxPopup .item .entry {
			width: 400px;
			margin: 1px 0 1px 0;
			overflow: hidden;
		}
			/* full text search entry */
			.documents .gwt-SuggestBoxPopup .item .entry .query {
				font-weight: bold;
			}
			.documents .gwt-SuggestBoxPopup .item .entry .fts {
				color: gray;
			}
			.documents .gwt-SuggestBoxPopup .item .entry .title {
			}
			.documents .gwt-SuggestBoxPopup .item .entry .summary {
				color: gray;
				font-size: smaller;
				white-space: normal;
			}
		.documents .gwt-SuggestBoxPopup .item-selected {
		} 
	
	.documents .docSearch {
	}
		.docSearch {
			overflow: hidden;
		}

		.searchPlaceholder {
			overflow: hidden;
			margin: -56px 0 0 5px;
			position: absolute;
		}
		.searchPlaceholder * {
			color: #BFBFBF;
		}
		.searchPlaceholder img {
			opacity: 0.4;
			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
		}
		.searchPlaceholder img, .searchPlaceholder .text {
			float: left;
		}
		.searchPlaceholder .text {
			margin: 5px;
		}
    * html .searchPlaceholder { /* hide for IE - too buggy */
       display: none;
     }

		.docSearch .docSuggest {
			margin-right: 10px;
			width: 280px; /* hack to get google scholar logo to right align under the search text box */
		}
			.docSearch .docSuggest .poweredBy {
				overflow: hidden;
				margin: 4px;
			}
			.docSearch .docSuggest .poweredBy .gwt-Label {
				float: right;
				color: #BFBFBF;
				margin-right: 5px;
			}
			.docSearch .docSuggest .poweredBy img {
				float: right;
			}
		.docSearch .docSearchListing {
		}
		.docSearch .docSearchListing .head {
			display: none;
		}
		.docSearch .docSearchListing .tableView {
			width: 100%;
		}
			.docSearch .entry {
				/*width: 400px;*/
				margin: 1px 0 1px 0;
			}
				.docSearch .entry .title {
				}
				.docSearch .entry .summary {
					color: gray;
					font-size: smaller;
					white-space: normal;
				}

	.docListingHeader {
		margin: 10px 0;
	}
		.docListingHeader .title {
			font-size: 21px;
		}
		.docListingHeader .summary {
			color: #BFBFBF;
		}

	.documents .btnRow {
		/*overflow: hidden;*/
		margin: 10px;
	}
	.documents .btnRow button {
		/*float: left;*/
		margin-right: 15px;
	}

	.documents .tableView .head {
		font-family: Arial, Helvetica, sans-serif !important;
		text-transform: uppercase !important;
		font-weight: bold !important;
		font-size: 12px !important;
	}
	.documents .tableView tr.head td {
		border: 0;
		border-bottom: solid #BFBFBF 1px;
	}
	.documents .tableView .date {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 11px;
	}
	.documents .tableView .delete {
		text-align: center;
	}
	.documents .tableView .actv {
		background-color: #BFBFBF;
	}

/* quote bundle view styling */
.quoteBundle {
}
	.quoteBundle .gwt-DialogBox .frow {
		width: 200px;
	}
	.quoteBundle .gwt-DialogBox .tbox {
		width: 100%
	}
	.quoteBundle .gwt-DialogBox textarea {
		height: 75px;
	}
	.quoteBundle .gwt-DialogBox .btnRow {
		width: 200px;
	}

	.quoteBundle .viewContainer {
		margin-top: 20px;
	}
	.quoteBundle .viewToolbar {
		display:none;
	}
	.quoteBundle .columns {
		width: 100%;
		height: 100%;
	}
	.quoteBundle .columns .qbundle {
		width: 200px;
		margin-left: 3px;
		margin-right: 3px;
	}
	/* drag and drop specific allowing drops to empty qb columns!! */
	.quoteBundle .columns .spacer {
		height: 50px;
		width: 250px;
	}
	.quoteBundle .boundaryArea {
		width: 100%;
		/*min-height: 578px;*/
		
		/*height: 535px;
		overflow-y: auto !important;*/
	}

/* document view styling */
.docview {
}
	.docview .crntqb {
		display: none;
	}
	.docview .viewToolbar {
		display: none;
	}
	.docview #navCol {
		/*width: 80px;*/
	}
	.docview .view {
		height: 578px; /* otherwise nothing appears! */
		margin: 0;
	}
	.docview .qbundle {
		margin: 5px 0 0 5px;
	}
	.docview .quotes {
	}
	.docview .wquote .cite {
		/*display: none;*/
	}
	.docview .wquote .cite p {
		font-size: 12px;
	}
	.docview .quoted p {
		line-height: .93em;
	}
	.docview .quoted {
		max-height: 50px;
		overflow: hidden;
	}
.docview-static .copyQuoteIcon {
	display: none; /* hide when in doc edit mode */
}

/* Users view */
.manageUsers {
}
	.manageUsersWidget {
		overflow: hidden;
	}
	.manageUsers .tableView {
		float: left;
		font-family: Arial, Helvetica, sans-serif !important;
		margin-bottom: 10px; /* when horiz viewing area forces the edit panel below the table */
	}
	.manageUsers .tableView table {
		width: inherit;
	}
	.manageUsers .tableView .head {
		color: #7F7F7F;
		font-weight: bold !important;
	}
	.manageUsers .tableView tr.head td {
		border-bottom: solid #BFBFBF 1px;
	}
	/*
	.manageUsers .tableView .date {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 11px;
	}
	.manageUsers .tableView .delete {
		text-align: center;
	}
	*/
	.manageUsers .tableView .actv {
		background-color: #BFBFBF;
	}
	
	.manageUsers .editContainer {
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border: 3px solid #DFDFDF;
	}
	.manageUsers .editContainer .title {
		background-color: #DFDFDF;
		height: 20px;
		font-weight: bold;
		font-size: 13px;
	}
	.manageUsers .entityEdit {
		margin: 10px;
	}
	.manageUsers .entityEdit #spw {
		margin-left: 20px;
	}
	.manageUsers .updateUser .btnRow button {
		margin-right: 10px;
	}
	.manageUsers .createUser .btnRow .save {
		float: left;
	}
	.manageUsers .createUser .btnRow .cancel {
		float: right;
	}
	