@CHARSET "utf-8";

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	/*text-align: center;*/
}

body * {
	color: #2F2F2F;
}

a, a:visited {
	color: navy;
}
a:hover {
	text-decoration: underline;
}
a:active {
}

/* drag and drop overrides */
.dragdrop-positioner {
	border: 1px dashed #BFBFBF;
}
.dragdrop-flow-panel-positioner {
	color: #BFBFBF;
}
.dragdrop-proxy {
	background-color: #BFBFBF; 
}

.msg {
	font-family: Arial, Helvetica, sans-serif;
}

/* global message panel */
.gmsg {
	margin-bottom: 15px;
}
	.gmsg .heading {
		display: none;
	}
	.gmsg li {
		list-style-type: none;
		margin-left: 10px;
	}

/* field label required indicator (asterisk) */
.rqd {
	color: red !important;
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.6;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

.gwt-DialogBox,
.html-face {
	font-family: Arial, Helvetica, sans-serif;
}
	.gwt-DialogBox .caption {
		font-weight: bold;
	}
	.gwt-DialogBox .frow {
		width: 200px;
	}
	.gwt-DialogBox .tbox {
		width: 100%
	}
	.gwt-DialogBox textarea {
		height: 75px;
	}
	.gwt-DialogBox .btnRow {
		width: 200px;
		overflow: hidden;
	}
	.gwt-DialogBox .btnRow .save {
		float: left;
	}
	.gwt-DialogBox .btnRow .cancel {
		float: right;
	}

#container {
	margin: 20px;
	overflow: hidden;
	
	/*debug*/
	/*border: 1px solid skyblue;*/
}
* html #container {
	margin: 0;
}

#contentwrapper {
	float: left;
	width: 100%;
}

.navButton {
	white-space: nowrap;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	font-weight: bold;
	border: 0;
	height: 16px;
}
	.navButton .text {
	}
	.navButton-bundles {
	}
	.navButton-docs {
	}
	.navButton-doc {
		background: url(../images/document-icon.png) left no-repeat transparent;
		width: 60px;
		font-size: 11px;
		font-weight: normal;
		overflow: hidden;
	}
	.navButton-doc .text {
		margin-left: 18px;
		margin-top: 2px;
	}
	* html .navButton-doc .text {
		float: right;
	}
	.navButton-plus {
		text-align: center;
	}

#navCol {
	float: left;
	width: 145px;
	margin-left: -100%;
	
	/*debug*/
	/*border: 1px solid pink;*/
}
* html #navCol {
	padding-top: 20px;
	padding-left: 20px;
}
	#navCol .logo {
		width: 76px;
		height: 53px;
		margin: 0 0 30px 0;
	}
	#navCol .widget {
		margin-bottom: 10px;
		width: 145px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	#navCol .gwt-PushButton {
		width: 100px !important;
	}
	#navCol .html-face {
		text-align: center;
		font-weight: bold;
	}
	#navCol .navButton {
		background-color: #BFBFBF;
		height: 20px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
	}
	#navCol .navButton .text {
		line-height: 1.49;
	}
	#navCol .viewTitle {
		font-size: 21px;
		white-space: nowrap;
	}
	/* QuoteBundleListingWidget*/
	#navCol #qbListing {
		border: 0;
		border-top: 1px solid #BFBFBF;
	}
	#navCol #qbListing table {
		width: 100%;
	}
	#navCol #qbListing .option {
		border-bottom: 1px solid #BFBFBF;
		padding-left: 10px;
		background: url(../images/quote-bundle-icon.png) no-repeat left;
		overflow: hidden;
	}
	#navCol #qbListing .option span {
		float: left;
		padding-left: 10px;
	}	

/* the parent element of the app portal panel */
#mainCol {
	margin-left: 180px;

	/*debug*/
	/*border: 1px solid brown;*/
}

/* the parent element of the nav row widget */
#navRow {
	/*border-bottom: 3px solid #BFBFBF;*/

	/*debug*/
	/*border: 1px solid gray*/
}
* html #navRow {
	/*padding-top: 20px;
	margin-right: 20px;
	height: 25px;*/
}
	
/* login panel */
.login {
}
	.login .heading {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	.login .gmsg {
		width: 500px;
	}
	.loginForm {
	}
	.login .userReg {
	}
	.login .opPanel {
		margin-top: 10px;
		margin-bottom: 20px;
	}
		.login .opPanel a, .login .opPanel button {
			margin-right: 10px;
		}
		.login .opPanel button {
			font-weight: bold;
		}

/* navRow widget */
.navRow {
	/*width: 100%;*/
	/*overflow: hidden;*/
}
	.navRow .navRowTabs {
		border-bottom: 3px solid #BFBFBF;
	}
	
	/* nav row tab bar */
	/*
	.gwt-TabBar { the tab bar itself }</li>
	.gwt-TabBar .gwt-TabBarFirst { the left edge of the bar }</li>
	.gwt-TabBar .gwt-TabBarFirst-wrapper { table cell around the left edge }
	
	.gwt-TabBar .gwt-TabBarRest { the right edge of the bar }</li>
	.gwt-TabBar .gwt-TabBarRest-wrapper { table cell around the right edge }
	
	.gwt-TabBar .gwt-TabBarItem { unselected tabs }</li>
	.gwt-TabBar .gwt-TabBarItem-wrapper { table cell around tab }</li>
	.gwt-TabBar .gwt-TabBarItem-selected { additional style for selected
	*/
	.navRow .gwt-TabBarItem {
		background-color: #DFDFDF;
		-moz-border-radius-topright: 2px;
		-moz-border-radius-topleft: 2px;
		-webkit-border-top-right-radius: 2px;
		-webkit-border-top-left-radius: 2px;
	}
	.navRow .gwt-TabBarItem span {
		color: #7F7F7F;
	}
	.navRow .gwt-TabBarItem-selected {
		background-color: #BFBFBF;
	}
	.navRow .gwt-TabBarItem-selected span {
		color: #2F2F2F;
	}
	.navRow .openDocs .gwt-TabBarItem-selected {
		/*display:none;*/
	}
	
	.navRow .mainViews {
		float: left;
		margin-right: 30px;
	}
	.navRow .openDocs {
		float: left;
	}
	.navRow .crntqb {
		text-align: right;
	}
		.navRow .crntqb p {
			font-weight: bold;
			font-size: 11px;
		}
		.navRow .crntqb .echo {
			font-style: italic;
			font-weight: normal;
			margin-right: 5px;
		}

/* lgdInUsr widget */
.lgdInUsr {
	overflow: hidden;
	white-space: nowrap;
}
	.lgdInUsr .frmContents {
		float: right;
		overflow: hidden;
	}
	.lgdInUsr .welcomeText {
		float: left;
		margin-right: 10px;
		font-size: 11px;
	}
	.lgdInUsr  a.logout {
		float: left;
		font-size: 11px;
		font-weight: bold;
	}

#portal {
	/*debug*/
	/*border: 1px solid orange;*/
}
* html #portal {
	width: 96%;
	overflow: hidden;
}

.viewToolbar {
	background-color: #fff;
	font-size: 21px;
	margin: 10px 0;
}
	.viewToolbar .viewTitle {
		font-weight: normal; 
	}
	.viewToolbar .button {
		border: 1px solid #fff;
	}

#footer {
	clear: left;
	width: 100%;
	margin-top: 10px;
	
	/*debug*/
	/*border: 1px solid gray;*/
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
	font-size: 10px;
	text-align:center;
	margin-bottom: 10px;
}

/* wqbundle */
.wqbundle {
}
	.wqbundle .qbheader {
		margin-bottom: 10px;
		overflow: hidden;
	}
		.wqbundle .qbheader .echo {
			text-transform: uppercase;
			font-family: Arial, Helvetica, sans-serif;
			font-weight: lighter;
		}
		.wqbundle .qbheader .name {
			font-size: 20px;
			border-bottom: 4px solid #BFBFBF/*#D0E4F6*/;
			margin-top: 2px; /* hack so qb name text doesn't wrap if it extends at or beyond buttons div just above */
		}
		.wqbundle .qbheader .desc {
			font-size: 11px;
		}
		.wqbundle .buttons {
			float: right;
		} 
		.wqbundle .buttons img {
			margin-left: 10px;
			cursor: pointer;
		} 
		.wqbundle .buttons .save {
			padding-bottom: 4px;
		} 
	.wqbundle .quotes {
		/*height: 100%;*/
		width: 100%;
	}
	.wqbundle .qbcurrent {
		border: 3px solid #DFDFDF;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		padding: 4px;
	}

/* wquote */
.wquote {
	/*width: 250px;*/
	width: 100%;
	margin-bottom: 5px;
}
.wquote .qheader {
	overflow: hidden; /*clear floats*/
	/*background-color: #D0E4F6;*/
	background-color: #DFDFDF;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.wquote .cite {
	padding: 3px;
}
.wquote .x {
	float: right;
	width: 14px;
	height: 14px;
	margin: 4px;
	cursor: pointer;
}
.wquote .title {
	font-weight: bold;
}
.wquote .subtitle {
}
.wquote .quoted {
	padding: 2px 1px 0 2px;
	font-size: 11px;
}

/* docUpload widget */
.docUpload {
	margin: 5px;
	overflow: auto;
}
	.docUpload .uploads {
		margin-bottom: 20px;
	}
	.docUpload .upload {
		display: block;
		margin: 3px 0 3px 0;
	}
	.docUpload .submit {
		float: left;
		font-weight: bold;
	}
	.docUpload .cancel {
		float: right;
	}

/* docSuggest widget */
.docSuggest {
	margin-bottom: 30px;
}
	.image {
	}
	.gwt-SuggestBox {
		margin-left: 20px;
		font-size: 22px;
		font-weight: bold;
	}
	.gwt-SuggestBoxPopup {
		
	} 
		.gwt-SuggestBoxPopup .item {
			max-width: 500px;
		}
			.gwt-SuggestBoxPopup .item .entry {
				width: 500px;
				margin: 1px 0 1px 0;
			}
				.gwt-SuggestBoxPopup .item .entry .title {
				}
				.gwt-SuggestBoxPopup .item .entry .summary {
					color: gray;
					font-size: smaller;
					white-space: normal;
				}
			.gwt-SuggestBoxPopup .item-selected {
			} 

/* document viewer widget */
.docView {
	width: 100%;
}
.docPortal {
}
.docHeader {
	width: 100%;
	height: 22px;

}
.docHeaderLabel {
	cursor: default;
	text-transform: uppercase;
	font-weight: bold;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
	float: left;

	background-color: #BFBFBF;
	float: right;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
}
.docContainer { 
	width: 100%;
	height: 553px;
	border: 0;
}
.docEdit .gwt-RichTextArea {
	width: 100%;
	height: 528px;
	border: 0;
}

.docEdit {
}
	
.editBar {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	float: left;
	height: 30px;
	background-color: #BFBFBF;
	margin-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
}
	.editBar .toolbar {
		height: 20px;
		margin-top: 5px;
		background-color: #BFBFBF;
	}
	.editBar .toolbar p,
	.editBar .toolbar .pencil {
		/*float: left;*/
	}
	.editBar .toolbar .button {
		padding-top: 0;
		padding-bottom: 0;
		font-weight: bold;
		text-align: center;
		/*background-color: #EAEAEA;*/
		border: 0 !important;
	}
	.editBar .toolbar .edit {
		font-weight: bold;
		margin-right: 50px;
	}
	.editBar .toolbar .button-up {
	}
	.editBar .toolbar .button .html-face {
	}
	.editBar .toolbar .button-up-hovering {
	}
	.editBar .toolbar .button-up-disabled {
	}
	.editBar .toolbar .button-down {
	}
	.editBar .toolbar .button-down-hovering {
	}
	.editBar .toolbar .button-down-disabled {
	}


/* ***view style overrides*** */

/* document listing view styling */
.documents {
}
	.documents .tableView .head {
		font-family: Arial, Helvetica, sans-serif !important;
		text-transform: uppercase !important;
		font-weight: bold !important;
		font-size: 12px !important;
	}
	.documents .tableView tr.head td {
		border: 0;
		border-bottom: solid #BFBFBF 1px;
	}
	.documents .tableView .date {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 11px;
	}
	.documents .tableView .delete {
		text-align: center;
	}
	.documents .tableView .actv {
		background-color: #BFBFBF;
	}

/* quote bundle view styling */
.quoteBundle {
}
	.quoteBundle .viewContainer {
		margin-top: 20px;
	}
	.quoteBundle .viewToolbar {
		display:none;
	}
	.quoteBundle .columns {
		width: 100%;
		height: 100%;
	}
	.quoteBundle .columns .wqbundle {
		width: 200px;
		margin-left: 3px;
		margin-right: 3px;
	}
	/* drag and drop specific allowing drops to empty qb columns!! */
	.quoteBundle .columns .spacer {
		height: 50px;
		width: 250px;
	}
	.quoteBundle .boundaryArea {
		width: 100%;
		/*min-height: 578px;*/
		
		/*height: 535px;
		overflow-y: auto !important;*/
	}

/* document view styling */
.docview {
}
	.docview .crntqb {
		display: none;
	}
	.docview .viewToolbar {
		display: none;
	}
	.docview #navCol {
		/*width: 80px;*/
	}
	.docview .view {
		height: 578px; /* otherwise nothing appears! */
		margin: 0;
	}
	.docview .wqbundle {
		margin: 5px 0 0 5px;
	}
	.docview .quotes {
	}
	.docview .wquote .cite {
		/*display: none;*/
	}
	.docview .wquote .cite p {
		font-size: 12px;
	}
	.docview .quoted p {
		line-height: .93em;
	}
	.docview .quoted {
		max-height: 50px;
		overflow: hidden;
	}
