/* table view core styling */
.tableView {	
}

.tableView .portal {
	border: 1px solid #BFBFBF;
	background-color: #BFBFBF;
}

.tableView .caption {
	font-weight: bold;
	margin: 2px 0 1px 0;
}

.tableView .nodata {
	font-style: italic;
	font-size: larger;
}

.tableView .table {
	width: 100%;
}

.tableView tr.head td {
	border: 1px solid #BFBFBF;
	border-top: 0;
	white-space: nowrap;
}

.tableView .sort {
	margin: 0 0 2px 2px;
}

.tableView .table a:link,.tableView a:visited {
	text-decoration: none;
}

.tableView tr.head a:link,.tableView tr.head a:visited {
	text-decoration: none;
}

.tableView tr.head a:hover {
	text-decoration: underline;
}

.tableView .table a:hover {
	text-decoration: underline;
}

.tableView tr.head, .tableView .table td {
	padding: 1px 3px 2px 3px;
	margin: 0;
}

.tableView .countCol {
	padding: 0px 1px 0px 0px;
	margin: 0;
	border: 1px solid #B4B4B4;
	border-width: 0 1px 1px 0 !important;
	text-align: center;
	font-style: italic !important;
}

.tableView .table table {
	border: 0;
}

/* table view toolbar */
.tvnav {
	border: 1px solid #BFBFBF;
	border-width: 0 1px 1px 1px;
}

.tvnav td {
	padding: 0 2px 0 2px;
}

.tvnav .gwt-PushButton {
}

.tvnav .gwt-PushButton-up, .tvnav .gwt-PushButton-up-disabled {
	border: 1px solid #BFBFBF;
	border-color: transparent;
	cursor: auto;
}

.tvnav .gwt-PushButton-up-hovering, .tvnav .gwt-PushButton-down, .tvnav .gwt-PushButton-down-hovering {
	border: 1px solid #BFBFBF;
	background-color: #fff;
}

.tvnav .page {
	white-space: nowrap;
}

.tvnav .page div {
	display: inline;
}

.tvnav .tbPage {
	border: solid 1px #BFBFBF;
	width: 35px;
	height: 18px;
	margin: 0 5px 0 5px;
	text-align: center;
}

.tvnav .smry {
	width: 100%; /* to squeeze table cells */
	font-size: 90%;
	text-align: right;
}

.tableView a:link, .tableView a:visited, .tvnav {
	color: #7F7F7F;
}

.tableView .head td, .tableView .countCol {
	color: #838383;
	background-color: #EAEAEA;
}

.tableView .head td *, .tableView .countCol *{
	color: #838383;
}

.tableView tr.even {
	background-color: white;
}

.tableView tr.odd {
	background-color: #f1f1f1;
}

.tableView tr.crnt {
	/*background-color: #DFDFDF;*/
	cursor: pointer;
}

.tableView tr.actv {
	background-color: #EAEAEA;
	cursor: pointer;
}

.tableView tr.added {
	background-color: #EBFFBF !important;
}

.tableView tr.updated {
	background-color: #FFF1AF !important;
}

.tableView tr.deleted {
	background-color: #FFDFE3 !important;
	color: maroon;
	text-decoration: line-through;
}
