@CHARSET "ISO-8859-1";

.viewToolbar {
	width: 100%;
}

.viewToolbar .viewTitle {
	width: 100%;
	margin: 2px 0 2px 2px;
	white-space: nowrap;
	font-size: 21px;
	font-weight: bold;
}

/*
.viewToolbar .button-up-hovering {
  border: 1px solid #EAEAEA;
	background-color: #EAEAEA;
}
.viewToolbar .button-up-disabled {
  border: 1px solid #EAEAEA;
  cursor: default;
}
*/

.viewContainer {
	width: 100%;
	overflow: auto;
}

.viewContainer .view {
	margin-top: 10px;
	width: 100%;
}

.viewContainer-popped .portal {
	height: inherit !important;
}
