@CHARSET "ISO-8859-1";

/* SimpleHyperLink */
.tll-shl {
	
}

/* ImageContainer */
.ic {
}

.tll-GlassPanel {
	background-color: #000;
	opacity: 0.6;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	z-index: 1; /* critical to ensure overlaying of relatively positioned elements! */
}