#set ( $subject = 'Password Assistance' )
Greetings from Administration,

You requested password assistance for login.  

Your Admin credentials have been reset:

Email Address: $emailAddress
Password:      $password

Note: You may change your password once you have successfully logged in.

Regards,

administration.