#set ( $subject = 'Tabulaw Password Assistance' )
Greetings from Tabulaw!

You requested password assistance for login.  

Your credentials have been reset:

Email Address: $emailAddress
Password:      $password

Note: You may change your password once you have successfully logged in.

Regards,

The Tabulaw Team.