#set ( $subject = 'smbiz Password Assistance' )
Greetings from smbiz Administration,

You requested password assistance for login.  

Your smbiz Admin credentials have been reset:

Email Address: $emailAddress
Password:      $password

Note: You may change your password once you have successfully logged in.

Regards,

smbiz administration.