<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="client-persist-tests">
  
  <test name="server-tests" annotations="JDK">
    <groups>
      <run>
        <include name="server" />
      </run>
    </groups>
    <packages>
      <package name="com.tll.tabulaw.server.*" />
    </packages>
  </test>

</suite>
