<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>DocViewServlet</servlet-name>
		<servlet-class>com.tll.tabulaw.server.DocViewServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DocViewServlet</servlet-name>
		<url-pattern>/doc/*</url-pattern>
	</servlet-mapping>

  <servlet>
    <servlet-name>RemoteDocIngestService</servlet-name>
    <servlet-class>com.tll.tabulaw.server.rpc.RemoteDocIngestService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoteDocIngestService</servlet-name>
    <url-pattern>/poc/rpc/rdi</url-pattern>
  </servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Poc.html</welcome-file>
	</welcome-file-list>
	
</web-app>
