<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<display-name>Tabulaw</display-name>
	<description>Tabulaw application</description>

	<context-param>
		<description>
      Dependency Injection modules (class names) that collectively bootstrap the application.
      This context param is processed by com.tll.server.Bootstrapper.
    </description>
		<param-name>di.modules</param-name>
		<param-value>
	    com.tabulaw.di.MailModule
		  com.tabulaw.di.ExceptionHandlerModule
    	com.tabulaw.di.ModelModule
    	com.tabulaw.di.Db4oDaoModule
    	com.tabulaw.di.PersistContextModule
    </param-value>
	</context-param>

	<context-param>
		<description>
      Declaration of the application dependency injection handlers (class names).
      These handlers are passed the constructed "dependency injector" providing 
      an hook to alter the servlet context.
    </description>
		<param-name>di.handlers</param-name>
		<param-value>
    	com.tabulaw.server.Db4oBootstrapper
    	com.tabulaw.server.PersistContextBootstrapper
    	com.tabulaw.server.FileConverterBootstrapper
    </param-value>
	</context-param>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>com.tabulaw.server.Bootstrapper</listener-class>
	</listener>
	<listener>
		<listener-class>com.tabulaw.rest.RESTSessionManager</listener-class>
	</listener>


	<filter>
		<filter-name>AuthenticationProcessingFilter</filter-name>
		<filter-class>com.tabulaw.server.filter.AuthenticationProcessingFilter</filter-class>
    <!-- 
    <init-param>
      <param-name>authenticationFailureUrl</param-name>
      <param-value>/login?login_error=1</param-value>
    </init-param>
    <init-param>
      <param-name>defaultTargetUrl</param-name>
      <param-value>/login</param-value>
    </init-param>
    -->
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationProcessingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>WebClientCacheFilter</filter-name>
		<filter-class>com.tabulaw.server.filter.WebClientCacheFilter</filter-class>
		<init-param>
			<param-name>oneDayCacheFileExts</param-name>
			<param-value>.js .css .gif .jpg .png</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>WebClientCacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>remoteLoggerServiceImpl</servlet-name>
		<servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteLoggerServiceImpl</servlet-name>
		<url-pattern>/poc/gwt-log</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.tabulaw.server.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/poc/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.tabulaw.server.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/poc/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserServiceRpc</servlet-name>
		<servlet-class>com.tabulaw.server.rpc.UserServiceRpc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServiceRpc</servlet-name>
		<url-pattern>/poc/userContext</url-pattern>
		<url-pattern>/poc/usercred</url-pattern>
		<url-pattern>/poc/userData</url-pattern>
		<url-pattern>/poc/userAdmin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DocViewServlet</servlet-name>
		<servlet-class>com.tabulaw.server.DocViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocViewServlet</servlet-name>
		<url-pattern>/doc/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DocDownloadServlet</servlet-name>
		<servlet-class>com.tabulaw.server.DocDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocDownloadServlet</servlet-name>
		<url-pattern>/docdownload/*</url-pattern>
		<url-pattern>/poc/docdownload/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QuoteBundleDownloadServlet</servlet-name>
		<servlet-class>com.tabulaw.server.QuoteBundleDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuoteBundleDownloadServlet</servlet-name>
		<url-pattern>/quotebundledownload/*</url-pattern>
		<url-pattern>/poc/quotebundledownload/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DocUploadServlet</servlet-name>
		<servlet-class>com.tabulaw.server.DocUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocUploadServlet</servlet-name>
		<url-pattern>/poc/docupload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DocServiceRpc</servlet-name>
		<servlet-class>com.tabulaw.server.rpc.DocServiceRpc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocServiceRpc</servlet-name>
		<url-pattern>/poc/doc</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RESTServlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.tabulaw.rest</param-value>
		</init-param>
		<init-param> 
			<param-name>com.sun.jersey.spi.container.ResourceFilters</param-name> 
			<param-value>com.tabulaw.rest.AuthorizationFilterFactory</param-value> 
		</init-param>	
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>com.tabulaw.rest.TabulawUriConnegFilter,com.tabulaw.rest.FakeHttpMethodsFilter</param-value>
		</init-param>			
	</servlet>
	<servlet-mapping>
		<servlet-name>RESTServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	
	<!-- 
	<login-config>
	  <auth-method>BASIC</auth-method>
	  <realm-name>default</realm-name>
	</login-config>
	-->
</web-app>
